coverage==7.9.1
django==5.2.15
django-filter==25.1
djangorestframework==3.17.1
djangorestframework-simplejwt==5.5.1
gunicorn==25.3.0
psycopg2-binary==2.9.12
pytest==9.0.3
python-decouple==3.8
requests==2.33.0
pytest-django==4.12.0
pytest-cov==6.2.1
pytest-factoryboy==2.7.0
boto3==1.43.36
django-storages==1.14.6
django-q2==1.10.0
django-debug-toolbar==7.0.0
git+https://github.com/akaytatsu/django-factory-generator.git
git+https://github.com/vert-capital/django_kafka.git
freezegun==1.5.2
requests-mock==1.10.0
django-cors-headers==4.9.0
uvicorn==0.49.0
django-fsm==3.0.0
pytest-watch==4.2.0
pillow==12.2.0
django-cas-ng==4.2.1
ruff==0.15.19
